* {
    font-family: Acrom;
}
header {
    height: 60px;

}
header li {
    display: inline-block;
    margin-right: 0.9375em;
}

header .add-buttons {
    display: inline-block;
    margin-top: 20px;
    margin-left: 50%;
    font-size: 30px;
    font-weight: bold;
}
#login-avatar {
    width: 20px;
    height: auto;
}