<form action="/project_url/" method="post"><br>
    <label for="analisys">Опишите ситуацию:<br> </label>
    <input id="analisys" type="text" name="name_field" value="" width="100" size="100">
</form>
<form action="/project_url/" method="post"><br>
    <label for="problem">Опишите проблему/потребность:<br> </label>
    <input id="problem" type="text" name="name_field" value="" width="100" size="100">
</form>
<form action="/project_url/" method="post"><br>
    <label for="short_description">Кратко опишите суть Вашего проекта: <br></label>
    <input id="short_description" type="text" name="name_field" width="100" size="100" value="">
</form>
<form action="/project_url/" method="post"><br>
    <label for="description">Дайте подробное описание Вашего проекта:<br> </label>
    <input id="description" type="text" name="name_field" value="" width="100" size="100"> <br><br><br><br>
    <input type="submit" value="Добавить проект">
</form>

<p>'ВСПОМОГАТЕЛЬНЫЕ'</p>
<form action="/student_url/" method="post"><br>
    <label for="name">Имя студента: <br></label>
    <input id="name" type="text" name="name_field" width="100" size="100" value="">
</form>

<form action="/student_url/" method="post"><br>
    <label for="e_mail">e_mail: <br></label>
    <input id="e_mail" type="text" name="name_field" width="100" size="100" value="">
    <br>
    <input type="submit" value="Добавить студента">
</form>
